@import '../core/mixins.scss';
@import '../core/variables.scss';

.archive {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.projectList {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @media screen and (min-width:1024px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__card {
        list-style: none;

        @media screen and (min-width:768px) {
            max-width: 350px;
        }

        @media screen and (min-width:1024px) {
            max-width: 500px;
        }

    }
    &__btn {
        width: 180px;
            background: linear-gradient(90deg, $dark-lilac -1.57%, $light-lilac 98.43%);
            padding: 10px 20px;
            border-radius: 15px;
            height: 43px;
            border-radius: 20px;
            cursor: pointer;
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
    }
}