@import '../core/variables.scss';
@import '../core/mixins.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 26px 0;
  &__logo{
    width: 80px;
  }
  @include tablet() {
    padding: 20px 34px 0;
    width: 100%;
    &__logo{
      width: 160px;
    }
  }

  &__text {
    color: $white;
  }
}
