//COLORS
$white-50: rgba(255, 255, 255, 0.5);
$black-80: rgba(0, 0, 0, 0.8);
$greyish-brown: #505050;
$greyish-brown-88: rgba(62, 62, 62, 0.88);
$dusk: #403a5f;
$greyish-brown-two: #575757;
$dark: #302c42;
$warm-grey: #909090;
$white: #fff;
$dark-lilac: #8176af;
$light-lilac: #c0b7e8;
$black: black;
$light-grey: lightgray;
$dark-grey: #3e3e3e;
//FONTS
$primary-text: 'Montserrat', sans-serif;